<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="/add">add a course </a><br />
<table>
    <tr>

        <th>Title</th>
        <th>Content</th>
        <th>posted Date</th>
        <th>Posted By</th>
    </tr>

    <tr th:each="bullhorn : ${bullhorn}">
         <td th:text="${bullhorn.title}"></td>
        <td th:text="${bullhorn.content}"></td>
        <td th:text="${bullhorn.PostedDate}"></td>
        <td th:text="${bullhorn.PostedBy}"></td>



    </tr>
</table>



</body>
</html>